:root {
    --editor-width: 40%;
    --editor-min-width: 460px;
    --color-primary: #ffcc00;
    --editor-width-mobile: 96%;
    --editor-max-width-mobile: 650px;
}

.DraftEditor-root {
    min-height: inherit;
    text-align: initial;
}

.public-DraftEditorPlaceholder-root {
    color: rgba(0, 0, 0, .3);
    position: absolute;
    z-index: 0;
    line-height: 1.6;
    font-size: 17px;
}

.DraftEditor-editorContainer {
    z-index: 1;
    background-color: hsla(0, 0%, 100%, 0);
    border-left: 0.1px solid transparent;
    text-align: initial;
    min-height: inherit;
    position: relative;
}

.public-DraftEditor-content {
    outline: none;
    user-select: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    min-height: inherit;
}

.editor {
    display: flex;
    position: relative;
    /* top: calc(var(--nav-height) + 30px); */
    justify-content: center;
}

.editor.mobile {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 56px;
    overflow: auto;
}

.editor__content {
    width: var(--editor-width);
    min-width: var(--editor-min-width);
    min-height: 200px;
    font-size: 17px;
}

.editor__content.mobile {
    width: var(--editor-width-mobile);
    max-width: var(--editor-max-width-mobile);
    min-height: 200px;
    font-size: 17px;
}

.editor__main-editor {
    position: relative;
    /* height: 70px; */
    min-height: 70px;

}

.public-DraftStyleDefault-ul {
    margin: 0 0 20px !important;
    padding: 0;
}

.public-DraftStyleDefault-ol {
    margin: 16px 0;
    padding: 0;
}

.editor-toolbar__block-tools,
.editor-toolbar__inline-tools,
.editor-toolbar__link-tools,
.editor-toolbar__controls {
    display: flex;
    flex-direction: row;

}

.editor-toolbar {
    color: #000;
    background: #fff;
    cursor: auto;
    z-index: 2;
    position: absolute;
    visibility: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .06), 0 2px 6px rgba(0, 0, 0, .064);
    border-radius: 4px;
    padding: 9px 14px;
    height: 56px;
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 400;
    top: -500px;
    box-sizing: border-box;
    transform: translate(-50%, -120%);
}

.editor-toolbar__link-input {
    position: absolute;
    z-index: 2;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .06), 0 2px 6px rgba(0, 0, 0, .064);
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    transform: translate(-50%, -120%);
}

.link-input {
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 0;
    height: 56px;
    box-sizing: border-box;
}

.link-input__close {
    width: 12px;
    height: 12px;
    cursor: pointer;
    margin: 0 14px;
    display: inline-block;
}

.link-input__input {
    width: 388px;
    height: 100%;
    display: inline-flex;
    box-sizing: border-box;
}

.primary-input {
    position: relative;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
}

.primary-input__control {
    font-size: 14px;
    line-height: 18px;
    padding: 5px 14px;
    color: #000;
    display: block;
    width: 100%;
    background: none;
    border: #c4c3c1 solid 1px;
    border-radius: 4px;
    position: relative;
    z-index: 2;
    text-align: inherit;
    box-sizing: border-box;
    margin: 0;
    flex: 1 1 100%;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.primary-input__control:hover {
    border: #8a8989 solid 1px;
}

.primary-input__control:focus {
    border: #4b4a4ab7 solid 1.6px;
}


.close-cross {
    background-size: 100%;
    background-position: 50%;
    background-repeat: none;
}

.close-cross_black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-2-2h18v18H-2z'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 1l12 12m0-12L1 13'/%3E%3C/g%3E%3C/svg%3E");
}

.editor-toolbar_visible {
    visibility: visible;
    flex-direction: row;
}

.editor-toolbar-button {
    height: 38px;
    width: 38px;
    cursor: pointer;
    background-position: 50%;
    background: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-origin: content-box;
    border-radius: 3px;
    padding: 5px;
    margin-right: 4px;
    box-sizing: border-box;
}

.editor-toolbar-button.mobile {
    padding: 0;
    height: 32px;
    width: 32px;
}

.editor-toolbar-button.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.editor-toolbar-button_type_last {
    margin-right: 0;
}

.editor-toolbar-button:hover {
    background-color: #f3f1ed;
}

.editor-toolbar-button_active {
    background-color: #f3f1ed;
}

.editor-toolbar-button_type_header-two {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6 15.06H5.4V21H2.54V6.66H5.4v6.02h6.2V6.66h2.86V21H11.6v-5.94zM26.224 21h-9.38v-2.64a67.965 67.965 0 003.04-2.38c.84-.693 1.513-1.327 2.02-1.9.506-.573.873-1.113 1.1-1.62a3.83 3.83 0 00.34-1.58c0-.667-.2-1.187-.6-1.56-.387-.387-.934-.58-1.64-.58-.707 0-1.387.153-2.04.46a7.908 7.908 0 00-1.82 1.22V7.9a7.407 7.407 0 011.82-1.02c.666-.267 1.48-.4 2.44-.4.706 0 1.353.1 1.94.3a4.025 4.025 0 011.5.84c.426.373.753.833.98 1.38.226.533.34 1.14.34 1.82 0 .667-.134 1.3-.4 1.9-.254.6-.647 1.207-1.18 1.82-.52.613-1.187 1.26-2 1.94a69.785 69.785 0 01-2.88 2.22h6.42V21z' fill='%23000'/%3E%3C/svg%3E")
}

.editor-toolbar-button_type_header-three {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.858 14.92h-6.72V21h-2.42V6.66h2.42v6.18h6.72V6.66h2.44V21h-2.44v-6.08zm14.208 1.96c0 .667-.127 1.267-.38 1.8a4.07 4.07 0 01-1.08 1.36c-.453.373-1.007.66-1.66.86-.64.2-1.347.3-2.12.3-.96 0-1.773-.113-2.44-.34-.666-.24-1.213-.52-1.64-.84v-2.24c.427.36.96.693 1.6 1 .654.307 1.433.46 2.34.46.947 0 1.667-.213 2.16-.64.507-.427.76-1.013.76-1.76 0-.76-.233-1.327-.7-1.7-.466-.387-1.193-.58-2.18-.58h-1.76v-2.02h1.86c.68 0 1.233-.18 1.66-.54.44-.373.66-.9.66-1.58 0-.613-.207-1.093-.62-1.44-.413-.36-1.006-.54-1.78-.54-.813 0-1.506.147-2.08.44a9.145 9.145 0 00-1.6 1.04V7.7a6.94 6.94 0 011.62-.88c.627-.24 1.4-.36 2.32-.36.694 0 1.32.093 1.88.28.56.187 1.034.447 1.42.78.387.333.687.733.9 1.2.213.467.32.98.32 1.54 0 .467-.08.88-.24 1.24-.146.36-.347.68-.6.96a3.311 3.311 0 01-.88.66c-.32.16-.66.273-1.02.34.44.053.854.173 1.24.36.4.173.747.407 1.04.7.307.28.547.62.72 1.02.187.4.28.847.28 1.34z' fill='%23000'/%3E%3C/svg%3E");
}

.editor-toolbar-button_type_blockquote {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.604 13.5l3.472 5.5H9.5L6 13.5 9.584 8h2.576l-3.556 5.5zm-5 0l3.5 5.5H4.5L1 13.5 4.543 8h2.604l-3.543 5.5zM23.5 19h-2.604l3.5-5.5L20.86 8h2.604L27 13.5 23.5 19zm-5 0h-2.604l3.5-5.5L15.84 8h2.604L22 13.5 18.5 19z' fill='%23000'/%3E%3C/svg%3E");
}

.editor-toolbar-button_type_unordered-list-item {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4' y='17' width='4' height='4' rx='1' fill='%23000'/%3E%3Crect x='4' y='7' width='4' height='4' rx='1' fill='%23000'/%3E%3Cpath fill='%23000' d='M10 8h14v2H10zM10 18h14v2H10z'/%3E%3C/svg%3E");
}

.editor-toolbar-button_type_ordered-list-item {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M12 8h12v2H12zM7.474 11.8h-1.76V6.52L4.05 8.056V6.248l1.808-1.68h1.616V11.8zM8.988 22.8H3.932v-1.6a29.495 29.495 0 001.488-1.088c.416-.33.746-.63.992-.896.256-.267.437-.512.544-.736.117-.224.176-.437.176-.64 0-.31-.096-.555-.288-.736-.192-.181-.47-.272-.832-.272-.438 0-.811.07-1.12.208-.31.139-.571.283-.784.432v-1.36c.213-.139.496-.277.848-.416.352-.139.805-.208 1.36-.208.821 0 1.456.187 1.904.56.458.373.688.928.688 1.664 0 .31-.064.608-.192.896a3.445 3.445 0 01-.592.88 8.86 8.86 0 01-1.008.912c-.406.31-.886.645-1.44 1.008h3.312V22.8zM12 18h12v2H12z'/%3E%3C/svg%3E")
}

.side-toolbar-button_type_image {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 7a2 2 0 11-4 0 2 2 0 014 0z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.172 1.172C0 2.343 0 4.229 0 8v8c0 3.771 0 5.657 1.172 6.828C2.343 24 4.229 24 8 24h12c3.771 0 5.657 0 6.828-1.172C28 21.657 28 19.771 28 16V8c0-3.771 0-5.657-1.172-6.828C25.657 0 23.771 0 20 0H8C4.229 0 2.343 0 1.172 1.172zM20 2H8c-1.942 0-3.198.004-4.123.129-.867.116-1.139.305-1.291.457-.152.152-.34.424-.457 1.291C2.004 4.802 2 6.057 2 8v8c0 .587 0 1.11.004 1.581L6 13.586l4 4 8-8 7.996 7.995C26 17.111 26 16.587 26 16V8c0-1.942-.004-3.198-.129-4.123-.116-.867-.304-1.139-.457-1.291-.152-.152-.424-.34-1.291-.457C23.198 2.004 21.943 2 20 2zM8.586 19L6 16.414l-3.85 3.851c.117.756.292 1.006.436 1.15.152.152.424.34 1.291.456.473.064 1.032.096 1.725.112L8.586 19zM20 22H8.414L18 12.414l7.85 7.851c-.117.756-.292 1.006-.436 1.15-.152.152-.424.34-1.291.456-.925.125-2.18.129-4.123.129z' fill='%23000'/%3E%3C/svg%3E")
}

.editor-toolbar-button_type_image {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='none' id='mobile-editor-pic_cabe--react'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 9.5C21.1046 9.5 22 8.60457 22 7.5C22 6.39543 21.1046 5.5 20 5.5C18.8954 5.5 18 6.39543 18 7.5C18 8.60457 18.8954 9.5 20 9.5Z' fill='currentColor'%3E%3C/path%3E%3Cmask id='mobile-editor-pic_cabe--react_path-2-inside-1' fill='white'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.0675 14.7914L12 9L2 25H10H26H30L19 12L17.0675 14.7914Z'%3E%3C/path%3E%3C/mask%3E%3Cpath d='M12 9L13.5052 7.68299L11.7315 5.65598L10.304 7.94L12 9ZM17.0675 14.7914L15.5623 16.1084L17.2516 18.0391L18.7119 15.9298L17.0675 14.7914ZM2 25L0.304003 23.94L-1.6085 27H2V25ZM30 25V27H34.3122L31.5268 23.7081L30 25ZM19 12L20.5268 10.7081L18.8411 8.71592L17.3556 10.8616L19 12ZM10.4948 10.317L15.5623 16.1084L18.5726 13.4744L13.5052 7.68299L10.4948 10.317ZM3.696 26.06L13.696 10.06L10.304 7.94L0.304003 23.94L3.696 26.06ZM10 23H2V27H10V23ZM26 23H10V27H26V23ZM30 23H26V27H30V23ZM17.4732 13.2919L28.4732 26.2919L31.5268 23.7081L20.5268 10.7081L17.4732 13.2919ZM18.7119 15.9298L20.6444 13.1384L17.3556 10.8616L15.4231 13.653L18.7119 15.9298Z' fill='currentColor' mask='url(%23mobile-editor-pic_cabe--react_path-2-inside-1)'%3E%3C/path%3E%3C/svg%3E");
}

.editor-toolbar-button_type_bold {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.333 6.226h5.412c1.994 0 3.512.293 4.554.88 1.04.587 1.561 1.577 1.561 2.97 0 1.13-.337 1.987-1.011 2.574-.66.572-1.54.96-2.64 1.166 1.378.161 2.427.52 3.146 1.078.718.557 1.078 1.408 1.078 2.552 0 .821-.17 1.525-.506 2.112a4.044 4.044 0 01-1.409 1.408c-.6.352-1.312.616-2.134.792A13.94 13.94 0 0113.7 22H8.334V6.226zm3.146 2.64v3.718h2.596c.792 0 1.43-.161 1.914-.484.483-.323.726-.829.726-1.518 0-.69-.22-1.144-.66-1.364-.44-.235-1.056-.352-1.848-.352h-2.729zm0 6.314v4.202h2.684c.909 0 1.642-.154 2.2-.462.557-.308.835-.865.835-1.672 0-.763-.264-1.298-.791-1.606-.514-.308-1.328-.462-2.443-.462h-2.486z' fill='%23000'/%3E%3C/svg%3E")
}

.editor-toolbar-button_type_italic {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.403 6.53c-.398 0-.745-.147-1.04-.442a1.423 1.423 0 01-.442-1.04c0-.416.148-.771.442-1.066a1.423 1.423 0 011.04-.442c.416 0 .772.147 1.066.442.295.295.442.65.442 1.066 0 .399-.147.745-.442 1.04-.294.295-.65.442-1.066.442zm.676 1.976L13.22 22h-2.236l2.86-13.494h2.236z' fill='%23000'/%3E%3C/svg%3E")
}

.editor-toolbar-button_type_underline {
    background-image: url("data:image/svg+xml,%3Csvg height='28' width='28' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath d='M224,216a7.99977,7.99977,0,0,1-8,8H40a8,8,0,0,1,0-16H216A7.99977,7.99977,0,0,1,224,216Zm-96-24a72.0814,72.0814,0,0,0,72-72V56a8,8,0,0,0-16,0v64a56,56,0,0,1-112,0V56a8,8,0,0,0-16,0v64A72.0814,72.0814,0,0,0,128,192Z'/%3E%3C/svg%3E ");
}

.editor-toolbar-button_type_strikethrough {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.803 22.22c-.719 0-1.364-.051-1.936-.154a9.291 9.291 0 01-1.518-.352 7.814 7.814 0 01-1.1-.506 4.366 4.366 0 01-.704-.55v-1.98c.22.19.506.389.858.594.352.19.755.367 1.21.528.469.161.968.293 1.496.396a9.094 9.094 0 001.694.154c1.144 0 2.053-.213 2.728-.638.674-.44 1.012-1.1 1.012-1.98 0-.44-.081-.8-.242-1.078a1.961 1.961 0 00-.704-.726c-.308-.205-.697-.374-1.166-.506-.455-.147-.99-.3-1.606-.462a29.392 29.392 0 01-1.848-.55 6.809 6.809 0 01-1.672-.814 4.12 4.12 0 01-1.188-1.276c-.294-.513-.44-1.166-.44-1.958 0-1.364.476-2.427 1.43-3.19.953-.763 2.412-1.144 4.378-1.144.572 0 1.078.037 1.518.11.454.059.85.14 1.188.242.352.088.652.19.902.308.264.117.498.227.704.33v1.98a6.174 6.174 0 00-2.002-.836 9.515 9.515 0 00-2.31-.264c-.704 0-1.298.059-1.782.176-.47.103-.851.257-1.144.462a1.824 1.824 0 00-.638.748 2.387 2.387 0 00-.198.99c0 .44.095.807.286 1.1.205.293.469.543.792.748.337.19.718.352 1.144.484.425.132.872.25 1.342.352.616.147 1.246.315 1.892.506.645.19 1.224.455 1.738.792.513.337.931.777 1.254 1.32.337.528.506 1.217.506 2.068 0 .836-.169 1.547-.506 2.134a4.119 4.119 0 01-1.298 1.408 5.498 5.498 0 01-1.87.792 9.822 9.822 0 01-2.2.242z' fill='%23000'/%3E%3Cpath fill='%23000' d='M5 14h18v2H5z'/%3E%3C/svg%3E")
}

.editor-toolbar-button_type_link {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.344 16.173a5.001 5.001 0 001.12 5.363l1.415 1.414a5 5 0 107.07-7.071l-1.414-1.415a5.001 5.001 0 00-5.362-1.12l1.66 1.66a2.993 2.993 0 012.288.875l1.415 1.414a3 3 0 11-4.243 4.242l-1.414-1.414a2.993 2.993 0 01-.874-2.288l-1.66-1.66zM11.197 6.709l1.414 1.414c.686.686.97 1.62.853 2.513l1.61 1.61a5.002 5.002 0 00-1.049-5.537l-1.414-1.414a5 5 0 00-7.07 7.07l1.413 1.415a5 5 0 005.184 1.186l-1.723-1.723a2.99 2.99 0 01-2.046-.877L6.954 10.95a3 3 0 114.243-4.242z' fill='%23000'/%3E%3Cpath d='M11 11l7 7' stroke='%23000' stroke-width='2'/%3E%3C/svg%3E")
}

.main-editor-block {
    font-size: 17px;
    line-height: 28px;
    margin: 6px 0 18px;
    transition: transform .1s linear
}

h3.main-editor-block {
    font-size: 22px;
    line-height: 1.3;
    font-weight: 700;
    margin: 34px 0 6px;
}

h2.main-editor-block {
    font-size: 28px;
    line-height: 1.3;
    font-weight: 700;
    margin: 42px 0 8px;
}

.main-editor-block-ul {
    padding: 0;
    margin: 0 0 12px 21px !important;
}

.main-editor-block-ol {
    padding: 0;
    margin: 0 0 12px 21px !important;
}

.main-editor-block-blockquote {
    padding: 8px 0 8px 20px;
    border-left: 3px solid #000;
    font-style: italic;
    line-height: 1.56;
    margin: 0;
}

.side-toolbar {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: all 0.2s ease;
    transform: translate(-35px, -15%);
    width: auto;
    flex-flow: row nowrap;
}

.side-button {
    border: none;
    outline: none !important;
    position: relative;
    padding: 0;
    margin: 0;
    width: 28px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: 0.3;
    cursor: default;
    transition: opacity .3s;
}

.side-button:hover {
    opacity: 0.85;
}

.tooltip {
    color: white;
    display: block;
    font-size: 10px;
    position: absolute;
    background-color: #000;
    opacity: 0.8;
    line-height: 1;
    white-space: nowrap;
    margin: 0;
    padding: 1px;
    width: auto;
    height: auto;
    transform: translate(15%, 110%);
}

.editor-toolbar_link-tip {
    padding: 0;
    height: auto;
    transform: translate(-50%, -150%);
}

.editor-toolbar__button {
    cursor: pointer;
    padding: 7px 16px;
    color: inherit;
    font-size: 14px;
    line-height: 16px;
    font-family: inherit;
    border: none;
    text-decoration: none;
    white-space: nowrap;
}

.needs-delim {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.common-padding {
    padding: 4px 0
}

.ui-lib-modal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    overflow-y: auto;
    position: fixed;
    outline: none;
    z-index: 100;
    background: rgba(0, 0, 0, .4);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ui-lib-modal.mobile {
    background: rgba(0, 0, 0, .25);
}

.ui-lib-modal._hidden {
    opacity: 1;
    animation: fadeOut 0.2s ease forwards;
}

.ui-lib-modal._visible {
    opacity: 0;
    animation: fadeIn 0.2s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.ui-lib-modal__scrollbar-fix {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    min-height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-lib-modal._with-vertical-align {
    text-align: center;
}

.ui-lib-modal._with-vertical-align .ui-lib-modal__content {
    display: inline-flex;
    vertical-align: middle;
    text-align: left;
}

.ui-lib-modal__content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    border-radius: 16px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .06), 0 2px 6px 0 rgba(0, 0, 0, .06);
}

.image-popup {
    width: 450px;
}

.image-popup__drag-area {
    padding: 33px 28px;
    font-size: 38px;
    text-align: center;
    color: rgba(0, 0, 0, .45);
    white-space: pre-wrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.image-popup__or {
    display: block;
    font-size: 21px;
    text-align: center;
    color: rgba(0, 0, 0, .45);
}

.image-popup__url-input {
    text-align: left;
    padding: 0 56px;
    margin-bottom: 18px;
}

.image-popup__url-input label {
    display: block;
    font-size: 13px;
    color: #000;
    /* text-align: left; */
    margin-bottom: 4px;
}

.image-popup__url-input input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, .06);
    color: rgba(0, 0, 0, .45);
    padding: 8px 10px;
    line-height: 1.2;
    resize: vertical;
    font-size: 13px;
}

.ui-lib-button {
    font-family: -apple-system, system-ui, 'Helvetica Neue', 'Helvetica', 'Roboto, Arial', sans-serif;
    font-weight: 600;
    line-height: 1;
    box-sizing: border-box;
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: max-width .3s ease-in;
}

.ui-lib-button-base {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 0;
    text-decoration: none;
    border: none;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background: none;
}

button.image-popup__file-button {
    margin: 17px auto 50px;
    cursor: pointer;
    background-color: var(--color-primary);
    color: #000;
}

.ui-lib-button._size_l {
    font-size: 16px;
    height: 38px;
    padding: 0 19px;
    border-radius: 4.8px
}

.image-popup__alert {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 27px;
    padding: 0 56px;
    display: block;
    text-align: center;
    color: red;
    font-size: 16px;
    text-transform: lowercase;
    box-sizing: border-box;
    height: 20px;
}

.image-popup__file-input {
    display: none !important;
}

.editor-image-block_with-placeholder,
.editor-image-block {
    margin: 6px 0 20px;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    cursor: default;
}

.editor-image-container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    /* user-select: none; */
}

.editor-image {
    max-width: 100%;
    padding: 0;
    margin: 0;
    max-height: 500px;
    /* user-select: none; */
}

.editor-desktop-image-caption-block {
    color: rgba(0, 0, 0, .45);
    position: relative;
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 18px;
}

.editor-image-block .editor-desktop-image-caption-block__placeholder {
    display: none;
}

.editor-image-block_with-placeholder .editor-desktop-image-caption-block__placeholder {
    z-index: -1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.editor__title-input {
    position: relative;
    font-weight: 700;
    border: none;
    box-sizing: border-box;
    background: transparent;
    display: block;
    width: 100%;
    font-size: 38px;
    margin: 0 0 16px;
    line-height: 1.11;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: none;
}

.editable-input h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    padding: 0;
    margin: 0;
}

.editor__title-input .public-DraftEditorPlaceholder-root {
    color: rgba(0, 0, 0, .3);
    position: absolute;
    z-index: 0;
    line-height: 40px;
    font-size: 34px;
    bottom: 0;
}

.editor-header__container {
    position: relative;
    display: flex;
    height: 80px;
}

.editor-header__container-wrapper{
    display: flex;
    height: 100%;
    width: 95%;
}

.editor-header__container.mobile {
    height: 48px;
}

.editor-header__left-col {
    width: 100%;
    position: relative;
}

.editor-header__left-col.mobile {
    min-width: 50%;
}

.editor-header__mid-col {
    width: 100%;
    position: relative;
}

.editor-header__right-col {
    display: flex;
    flex-shrink: 0;
    min-width: 33%;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;
    justify-content: flex-start;
}

.editor-header__right-col.mobile {
    min-width: 50%;
    justify-content: flex-end;
}

.editor-header__button {
    color: black;
    padding: 12px 22px;
    border: none;
    border-radius: 22px;
    background-color: transparent;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.12px;
    font-family: -apple-system, system-ui, "Segoe UI",
        "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif,
        "Helvetica Neue", Helvetica, "roboto", arial;
    font-weight: normal;
    transition: 0.3s ease;
}

.editor-header__button.mobile {
    padding: 3px;
    width: 32px;
    height: 32px;
    background-color: #efefef;
    box-sizing: border-box;
}

.mobile-save-btn {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 20.75H7C6.27065 20.75 5.57118 20.4603 5.05546 19.9445C4.53973 19.4288 4.25 18.7293 4.25 18V6C4.25 5.27065 4.53973 4.57118 5.05546 4.05546C5.57118 3.53973 6.27065 3.25 7 3.25H14.5C14.6988 3.25018 14.8895 3.32931 15.03 3.47L19.53 8C19.6707 8.14052 19.7498 8.33115 19.75 8.53V18C19.75 18.7293 19.4603 19.4288 18.9445 19.9445C18.4288 20.4603 17.7293 20.75 17 20.75ZM7 4.75C6.66848 4.75 6.35054 4.8817 6.11612 5.11612C5.8817 5.35054 5.75 5.66848 5.75 6V18C5.75 18.3315 5.8817 18.6495 6.11612 18.8839C6.35054 19.1183 6.66848 19.25 7 19.25H17C17.3315 19.25 17.6495 19.1183 17.8839 18.8839C18.1183 18.6495 18.25 18.3315 18.25 18V8.81L14.19 4.75H7Z' fill='%23000000'/%3E%3Cpath d='M16.75 20H15.25V13.75H8.75V20H7.25V13.5C7.25 13.1685 7.3817 12.8505 7.61612 12.6161C7.85054 12.3817 8.16848 12.25 8.5 12.25H15.5C15.8315 12.25 16.1495 12.3817 16.3839 12.6161C16.6183 12.8505 16.75 13.1685 16.75 13.5V20Z' fill='%23000000'/%3E%3Cpath d='M12.47 8.75H8.53001C8.3606 8.74869 8.19311 8.71403 8.0371 8.64799C7.88109 8.58195 7.73962 8.48582 7.62076 8.36511C7.5019 8.24439 7.40798 8.10144 7.34437 7.94443C7.28075 7.78741 7.24869 7.61941 7.25001 7.45V4H8.75001V7.25H12.25V4H13.75V7.45C13.7513 7.61941 13.7193 7.78741 13.6557 7.94443C13.592 8.10144 13.4981 8.24439 13.3793 8.36511C13.2604 8.48582 13.1189 8.58195 12.9629 8.64799C12.8069 8.71403 12.6394 8.74869 12.47 8.75Z' fill='%23000000'/%3E%3C/svg%3E");
}

.mobile-post-btn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
    height: 70%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.29652 11.7929C7.90599 12.1834 7.90599 12.8166 8.29652 13.2071C8.68704 13.5976 9.32021 13.5976 9.71073 13.2071L14.2045 8.71329C14.5985 8.31934 14.5985 7.68063 14.2045 7.28671L9.71073 2.79289C9.32021 2.40237 8.68704 2.40237 8.29652 2.79289C7.90599 3.18342 7.90599 3.81658 8.29652 4.20711L11.0894 7H2.5C1.94771 7 1.5 7.44772 1.5 8C1.5 8.55228 1.94771 9 2.5 9L11.0894 9L8.29652 11.7929Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
}

.editor-header__button:hover {
    background-color: #efefef;
}

.editor-header__button.primary {
    background-color: var(--color-primary);
    color: #000;
}

.editor-header__button.primary:hover {
    background-color: #f0c000;
}

.editor-header__button.sm-mg-l {
    margin-left: 4px;
}

.inserted-link {
    text-decoration: none;
    color: #0060d0;
}

.inserted-link:hover {
    color: #62aafd
}

.editor-mobile-toolbar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 56px;
    align-items: center;
    z-index: 10;
    background-color: #fff;
}

.styles-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: opacity .15s ease-in-out;
}

.styles-container.styles-container-active {
    padding: 8px 12px;
    overflow-y: hidden;
    overflow-x: auto;
    box-sizing: border-box;
}

.styles-container.inline-style {
    justify-content: space-between;
}

.styles-container_section.delimeter {
    border-right: solid 0.8px #b6b4b1;
    margin-right: 4px;
}

@media (min-width: 800px) {
    .styles-container.inline-style {
        width: 50%;
    }

    .styles-container_section.delimeter {
        border-right: solid 0.8px #b6b4b1;
        margin-right: 15px;
    }

    .editor-toolbar-button {
        margin-right: 15px;
    }

}

.styles-container_section {
    display: flex;
    flex-direction: row;
}


.editor-toolbar-button_type_unstyled {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28' fill='none' %3E%3Cpath d='M15.4174 9.06V21H12.5574V9.06H8.25742V6.66H19.7174V9.06H15.4174Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
}

.editor-toolbar-button_type_undo {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28' fill='none' id='mobile-editor-undo_6a26--react'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.77881 11.1387L7.2959 4.38823L5.84701 4L3 14.6252L13.6252 17.4722L14.0134 16.0233L7.62477 12.9597L12.9868 9.86389L12.997 9.88144C13.9948 9.33399 15.1406 9.02267 16.3591 9.02267C20.2251 9.02267 23.3591 12.1567 23.3591 16.0227C23.3591 18.5566 22.0127 20.776 19.9963 22.0047L20.9967 23.7374C23.6107 22.1626 25.3591 19.2968 25.3591 16.0227C25.3591 11.0521 21.3296 7.02267 16.3591 7.02267C14.7777 7.02267 13.2915 7.43053 12.0001 8.14681L11.9903 8.12984L6.77881 11.1387Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
}

.editor-toolbar-button_type_redo {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28' fill='none' id='mobile-editor-redo_7ceb--react'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.2212 11.1387L20.7041 4.38823L22.153 4L25 14.6252L14.3748 17.4722L13.9866 16.0233L20.3752 12.9597L15.0132 9.86389L15.003 9.88144C14.0052 9.33399 12.8594 9.02267 11.6409 9.02267C7.77495 9.02267 4.64094 12.1567 4.64094 16.0227C4.64094 18.5566 5.9873 20.776 8.00367 22.0047L7.0033 23.7374C4.38928 22.1626 2.64094 19.2968 2.64094 16.0227C2.64094 11.0521 6.67038 7.02267 11.6409 7.02267C13.2223 7.02267 14.7085 7.43053 15.9999 8.14681L16.0097 8.12984L21.2212 11.1387Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
}

.link-input.mobile {
    padding: 12px;
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
    width: 220px;
    max-width: 80%;
    height: 170px;
    box-sizing: border-box;
}

.link-input_mobile_wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.link-input_mobile_wrapper.justify-right {
    justify-content: flex-end;

}

.link-input_mobile_wrapper.justify-left {
    justify-content: flex-start;
}

.link-input__close.mobile {
    width: 12px;
    height: 12px;
    cursor: pointer;
    margin: 0;
    display: inline-block;
}

.link-input_mobile_content-wrapper {
    width: 97%;
    display: flex;
    flex-direction: inherit;
}

.link-input_mobile__description {
    font-size: 17px;
    margin: 15px 0;
}

.link-input__input.mobile {
    width: 100%;
    height: fit-content;
    display: inline-flex;
    box-sizing: border-box;
}

.primary-input__control.mobile {
    padding: 5px;
    line-height: 15px;
    font-size: 14px;
}

.link-input_mobile__button-wrapper {
    display: flex;
    flex-direction: inherit;
    width: fit-content;
}

.link-input_mobile__button {
    width: fit-content;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    font-weight: medium;
    line-height: 1;
    margin-left: 5px;
}

.link-input_mobile__button.primary {
    background-color: var(--color-primary);
}

.link-input_mobile__button.secondary {
    background-color: #efefef;
}

.editor-toolbar__button.mobile {
    padding: 4px 13px;
    font-size: 13px;
    line-height: 15px;
}

.editor-toolbar_link-tip.mobile {
    transform: none;
}